*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: lightblue;
    overflow: hidden;
    width: 100%;
}

.app{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.app h1{
    margin: 40px 0;
    text-align: center;
}

.todo{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid salmon;
    margin: 2px;
    padding: 10px 0;
}

.input{
    padding: 5px 20px;
    border-radius: 5px;
}

.btnDelete {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    margin: 5px;

    cursor: pointer;
}

.btnComplete{
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    margin: 5px;

    cursor: pointer;
}

.todoForm{
    display: flex;
    margin-bottom: 15px;
}